@font-face {
    font-family: 'NexaRustSlab-BlackShadow01-Free';
    src: url('NexaRustSlab-BlackShadow01-Free-webfont.woff2') format('woff2'),
         url('NexaRustSlab-BlackShadow01-Free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}